@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Shizuru&family=Zen+Kurenaido&display=swap');
nav{
    width: 100%;
    height: auto;
    justify-content: space-around;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: black;
}

.link-div ul{
    margin-right: 40px;
    display: flex;
    margin-left: -40px;
}
.logo-div h1{
    font-size: 20px !important;
    color: white;
}
.link-div ul li{
    list-style: none;
    margin-left: 20px;
}
.link-div ul li a{
    color: white !important;
    text-decoration: none;
}

@media only screen and (max-width:600px) {

   
}


